<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://img.redbull.com/images/q_auto,f_auto/redbullcom/2018/05/15/36f524f6-9d50-4c9d-bbce-8555ed10c8c2/health-fitness-tips-weight">
    </a>
    <h1>Daily Progression Journal</h1>
    <p>Enter number of weight and sets/reps</p>


    <div type="button" class="btn btn-lg btn-default" ><span class="glyphicon glyphicon-flash"></span> Weight </div>

  

    <div class="weight-bg">
  <div class="weight">
    <h2>Enter Weight</h2>
    <label for="weight">Weight: </label>
    <input type="number" weight ="weight">
    <button> Done</button>
  </div>
</div>


  <div type="button" class="btn btn-lg btn-primary add-set-rep-button"><span class="glyphicon glyphicon-download"></span> Sets/Reps</div>

<div class="setsreps-bg">
  <div class="setsreps">
    <h2>Enter Set/Rep</h2>
    <label for="set">Set: </label>
    <input type="number" set ="set">
    <label for="rep">Rep: </label>
    <input type="number" rep ="rep">
    <button> Done</button>
  </div>
</div>

  </div>
</div>



<div class="container">
  <div class="alert alert-info text-center" role="alert">
    STAY CONSISTENT 
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Topic 1</h3>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Topic 2</h3>
      <ul>
        <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Topic 3</h3>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    NEVER GIVE UP 
  </div>
</div>

<script>
var weightBtn = document.querySelector('.btn-default');
var weightBg = document.querySelector('.weight-bg');
var setsrepsBtn = document.querySelector('.add-set-rep-button');
var setsrepsBg = document.querySelector('.setsreps-bg');

weightBtn.addEventListener('click', function(){
  weightBg.classList.add('bg-active');
});

setsrepsBtn.addEventListener('click', function(){
  console.log('buttonclick');
  setsrepsBg.classList.add('bg-active');
});







</script>

